
<div class="containerD">
    <br>
    <div class="hero-text">
        <div>
            <img src="./assets/imagenes/sala.png" width="700">
        </div>

    </div>
    <div class="menu-container">
        <div class="fill" routerLink="/juegos">
            <span></span>
            <div class="content">
                <h2>Juegos </h2>
            </div>
        </div>
        <div class="fill" routerLink="/encuesta">
            <span></span>
            <div class="content">
                <h2>Encuesta</h2>
            </div>
        </div>

        <div class="fill" routerLink="/listados" >
            <span></span>
            <div class="content">
                <h2>Resultados</h2>

            </div>
        </div>

        <div *ngIf="usuario">
            
            <div class="fill"  routerLink="/encuestaresultados" *ngIf="usuario.rol === 'admin'">
                <span></span>
                <div class="content">
                    <h2>Resultados Encuestas</h2>

                </div>
            </div>
        </div>

        


    </div>
    <div class="chat">
        <app-chat *ngIf=" user2$ | async user"></app-chat>
    </div>
</div>